@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
	scroll-snap-type: y mandatory; 
	outline:none !important;
}
.main {
    @apply p-0 md:p-24 min-h-screen w-full  grid grid-rows-6 gap-16;
    background-image: radial-gradient(rgba(240, 110, 110, 0.6) 1px,transparent 0),radial-gradient(rgba(173, 62, 62, 0.7) 1px,transparent 0);
    background-size: 50px 50px;
    background-position: 0 0, 25px 25px;
	background-attachment: fixed;
    -webkit-animation: slide 2s linear infinite;
    animation: slide 4s linear infinite;
}

@keyframes slide {
    0% {
        background-position: 0 0,25px 25px;
    }
    100% {
        background-position: 50px 0,125px 25px;
    }
}


.headerTitle {
    @apply text-red-500 text-2xl font-bold col-span-7;
}

nav{
	@apply grid grid-cols-8 items-center;
}
.navList{
	@apply grid grid-flow-col gap-3 w-full col-span-1;
}
.navList > li{
	@apply rounded-lg py-1 text-blue-700 hover:bg-blue-300 hover:text-black transition duration-200;
	text-align:center;
}
.navIcon{
	@apply h-5 w-5 mx-auto;
}
.navSocialList{
	@apply grid grid-flow-col gap-3 w-1/2 place-items-center mt-16;
}

.navSocialIcon{
	@apply py-2 px-5 rounded-lg  text-blue-700 hover:bg-blue-300 hover:text-blue-700 cursor-pointer
}




/* Main section */
main,section{
	scroll-snap-align:center;

}

.landingSection{
	@apply row-span-5 grid place-items-center;
}
.leadLine{
	@apply text-9xl text-red-500 font-bold text-center ;
	position:relative;
	z-index:10;
}
.leadLine > img{
	position:absolute;
	top:15%;
	left:10%;
	transform:translate(-50%,-50%) rotateZ(45deg);
	z-index:-1;
	opacity:0.1;
	animation:bgGridAnim infinite 2s alternate;
	
}
@keyframes bgGridAnim{
	to{
		transform:translate(-50%,-50%) rotateZ(45deg) scale(0.9);
	}
}



.sections{
	@apply grid grid-rows-4 p-24 h-screen bg-white;
	position: relative;
	overflow: hidden;
}
.sectionWithBG{
	position: absolute;
	inset:0;
	pointer-events: none;
	filter: blur(80px);
}
.sectionWithBG::after{
	background:rgb(238, 227, 140);
	overflow: hidden;
	position: absolute;
	content:'';
	right:-150px;
	top:0;
	width:800px;
	height:400px;
	border-radius: 0%;
	transform:rotateZ(-45deg)
}
.sectionTitle{
	@apply text-xl row-span-1 font-bold 
}
.sectionMainArea{
	@apply row-span-3 ;
	z-index: 10;
}
.sectionLeadLine{
	@apply  text-8xl font-bold font-thin
}
.sectionLeadLine span{
	@apply text-transparent font-bold hover:text-red-500;
	-webkit-text-stroke: 2px black;
}
.sectionLeadLine span:hover{
	-webkit-text-stroke: 2px transparent

}

.sectionMainArea > article{
	@apply grid grid-cols-6 mt-16;
	position:relative;
}
.sectionMainArea > article::before{
	position:absolute;
	content:'';
	width:60%;
	height:2px;
	background: #000;
	top:40%;
	transform:translateY(-50%)
}
.sectionMainArea > article > p{
	@apply text-xl;
	grid-column:5/7;
}
.sectionMainArea > article > small{
	@apply text-lg text-gray-400 hover:text-gray-700;
	cursor: pointer;
}



.servicesContainer{
	height:100vh;
	display:grid;
	grid-template-columns: repeat(2,1fr);
	grid-template-rows: repeat(2,1fr);
	position: relative;
	overflow-x:hidden;
}
.serviceContainerWatermark{
	position: absolute;
	font-size: 15rem;
	font-weight: bolder;
	text-transform: uppercase;
	top:50%;
	transform: translateY(-50%);
	color: rgba(155, 198, 255, 0);
	-webkit-text-stroke: 2px rgba(155, 198, 255, 0.205);
	
}
.servicesContainer::before{
	position: absolute;
	z-index: 101;
	content:"";
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	width:218px;
	height:163.5px;
	background: url("./MIDSHAPE.png") no-repeat;
}
.servicesContainer:hover::before{
	animation: containerBeforeAnim 0.4s forwards cubic-bezier(0.215, 0.610, 0.355, 1);
}
@keyframes containerBeforeAnim {
	to{
		transform:translate(-50%,-50%)rotateZ(360deg)scale(0.6)
	}
}
.servicesContainer::after{
	position: absolute;
	z-index: 101;
	content:"";
	top:50%;
	left:100%;
	transform: translate(-100%,-50%) scale(0.6);
	width:calc(280px - 90px);
	height:365px;
	background: url("./RightShape.png") no-repeat;
}
.servicesContainer  * {
	font-family:Inter;
}
.servicesContainer > div{
	display: grid;
	align-items: center;
	position: relative;
	mix-blend-mode: difference;
}
.servicesContainer > div:hover{
	background: rgb(240, 240, 240);
	/* color: white; */
}
.servicesContainer > div::after{
	position: absolute;
	content:'';
	width:100px;
	height:100px;
	right:20%;
	top:20%;
	background:url('./SCBG-1.png') no-repeat;
	transition: all 0.3s;
	opacity: 0;
	transform:scale(0.9);
}

.servicesContainer > div:hover::after{
	opacity: 1;
	transform:scale(1)
}

.serviceCardWrapper{
	display:grid;
	gap:10px;
	padding-left:96px;
	
}
.serviceNumber{
	color: #ef4444;
	font-size: 34px;
	font-weight: 300;
}
.serviceName{
	font-size:34px;
	font-weight: 600;
	line-height: calc(1.2 * 34px);
	width:30%;
	font-family: "Noto Serif Display" !important;
}
.serviceDesc{
	width:50%;
	font-size:15px;
	font-weight:300;
}
.service__1::after{
	transform:rotateZ(95deg);
}



.contactSection{
	@apply bg-blue-50 p-24 space-y-10;
	background-image: radial-gradient(rgba(108, 223, 243, 0.6) 1px,transparent 0),radial-gradient(rgba(77, 223, 179, 0.7) 1px,transparent 0);
    background-size: 50px 50px;
    background-position: 0 0, 25px 25px;
	background-attachment: fixed;
    -webkit-animation: slide 2s linear infinite;
    animation: slide 4s linear infinite;
}
.contactForm{
	@apply space-y-10;
}
.contactForm > p{
	@apply text-2xl mr-10 inline-flex gap-10 items-center;
}
.contactInput{
	@apply transition duration-100 border-0 border-b-2 border-black bg-transparent text-center  focus:outline-none focus:ring focus:ring-gray-800 focus:border-transparent focus:placeholder-opacity-0 placeholder-gray-400;

}

.contactForm > p:nth-child(5){
	@apply flex items-center text-lg
}
.contactCheckbox{
	visibility: hidden;
	opacity: 0;
	display: none;
}
.contactCheckbox + label{
	@apply text-gray-500;
	position: relative;
	user-select: none;
	display:grid;
	align-items: center;
	padding-left:30px;
}
.contactCheckbox:checked + label::before{
	@apply bg-yellow-500 border-yellow-500 rounded-full
}
.contactCheckbox + label::before{
	position: absolute;
	content:'';
	width:20px;
	height:20px;
	left:0%;
	top:50%;
	transform:translateY(-50%);
	border:2px solid gray;
	border-radius: 6px;
}
.formButton{
	@apply bg-gray-700 text-white p-2 px-6 rounded text-sm font-semibold flex items-center gap-4 hover:bg-blue-600 hover:pl-10;
	transition:all 0.1s;

}
.formButton > span{
	display:inline-block;
	width:20px;
}


.contactFooter{
	@apply grid bg-blue-200 p-12 shadow-lg rounded;
	grid-template-columns:repeat(5,1fr);

    background-image: radial-gradient(rgba(240, 110, 110, 0.6) 1px,transparent 0),radial-gradient(rgba(173, 62, 62, 0.7) 1px,transparent 0);
    background-size: 50px 50px;
    background-position: 0 0, 25px 25px;
	background-attachment: fixed;
    -webkit-animation: slide 2s linear infinite;
    animation: slide 4s linear infinite;
}
.contactFooter > ul{
	@apply grid gap-2 px-4;
}
.footerListItem{
	@apply text-xs text-gray-800 font-semibold
}